.App {
  text-align: center;
}

.clickable {
  cursor: pointer;
}
.banner {
  height: 70px;
  width: 100%;
  border-radius: 5px;
  background-color: orange;
}

.formGroup {
  display: inline;
}

.form-search {
  margin-left: 20px;
  height: 37px;
  border-radius: 4px;
}
h2 {
  padding-top: 10px;
  float: left;
  margin-left: 30px;
}

.radio {
  font-size: 20px;
  margin-right: 10px;
}

label {
  margin-right: 10px;
}

.page-btn {
  width: 100px;
  margin-bottom: 20px;
}

.page-prev {
  margin-right: 2px;
}

.condition-tbl {
  margin-top: 100px;
}

.page-color {
  background-color: grey;
}

.usrmsg {
  margin-top: 50px;
}
